.keyBoardButton {
  width: 2.5rem;
  height: 3.5rem;
  background: #e7e8ee;
  box-shadow: 0.1em 0.1em 0.2em #a3a7bd, -0.1em -0.1em 0.2em #fff;
  font-weight: 550;
  font-size: 0.875rem;
  border-radius: 4px;
  margin-left: 3.5px;
  margin-right: 3.5px;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  border: 0 solid;
  outline: none;
}

#enter {
  width: auto;
}
